body {
    font-family: Georgia;
    font-size: 16px;
    margin: 50px auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  /* BEGIN (write your solution here) */

/* check 2*/
#header {
  text-align: center;
}
#footer{
      margin-top: 64px;
      text-align: center; 
  }
h1 {
  font-size: 36px;
  font-weight: 400px;
}
h2 {
      font-size: 32px;
      margin-bottom: 8px;
      border: 2px solid blueviolet;
      border-radius: 5px;
      padding-left: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 0px;
  }
#header a {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(95, 78, 245);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(199, 198, 198);
}
#header a:hover {
  background-color: white;
  color:rgb(95, 78, 245);
}

#footer a {
  text-decoration: none;
  padding-left: 30px;
  color: black;
}
.myself {
    padding: 20px;
    padding-bottom: 0px; 
}