body {
    font-family: Georgia;
    font-size: 16px;
    margin: 50px auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  /* BEGIN (write your solution here) */


#header {
  text-align: center;
}

  #footer{
      margin-top: 64px;
      text-align: center; 
  }
  h.size {
      font-weight: 400;
  }
  h1.sizeh1 {
  font-size: 36px;
  margin-bottom: 0px;
  }
.sizeh2 {
      font-size: 32px;
      margin-bottom: 8px;
      border: 2px solid blueviolet;
      border-radius: 5px;
      padding-left: 20px;
  }
  h3.sizeh3 {
  font-size: 20px;
  margin-bottom: 0px;
  }

a {
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.myself {
    padding: 20px;
    padding-bottom: 0px; 
}